{
  "operating_systems" : [
    {
      "OperatingSystems" : {
        "ambari_managed_repositories": "false",
        "os_type" : "redhat7",
        "stack_name" : "HDP",
        "stack_version" : "2.6"
      },
      "repositories" : [
        {
          "Repositories" : {
            "base_url" : "",
            "repo_id" : "hdp-2.6.3.0-rhel-x86_64-server-7",
            "repo_name" : "hdp-2.6.3.0-rhel-x86_64-server-7"
          }
},
        {
          "Repositories" : {
            "base_url" : "",
            "repo_id" : "hdp-utils-1.1.0.22-rhel-x86_64-server-7",
            "repo_name" : "hdp-utils-1.1.0.22-rhel-x86_64-server-7"
          }
        }
     ]
    }
  ]
}